<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="html(title, content, additionalStyles, additionalScripts)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">Aivle School 7기</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/navigation.css}" rel="stylesheet">
    <th:block th:replace="${additionalStyles}"></th:block>
    <th:block th:replace="${additionalScripts}"></th:block>
</head>
<body class="h-screen">
<th:block th:replace="layouts/header :: header"></th:block>
<th:block th:replace="${content}"></th:block>
</body>
</html>